In [25]:
#Level 1: Data Exploration and Basic Operations

In [26]:
#Task 1.1: Load and Inspect Data
#Load the dataset and display the first 10 rows.
#Understand the basic structure of the data, including data types and missing values.

In [27]:
import pandas as pd

In [28]:
df = pd.read_csv(r'D:\internship\New folder 1\Railway_info.csv')

In [29]:
print("First 10 rows of the dataset:")
df.head(10)

First 10 rows of the dataset:

,Train_No,Train_Name,Source_Station_Name,Destination_Station_Name,days
0,107,SWV-MAO-VLNK,SAWANTWADI ROAD,MADGOAN JN.,Saturday
1,108,VLNK-MAO-SWV,MADGOAN JN.,SAWANTWADI ROAD,Friday
2,128,MAO-KOP SPEC,MADGOAN JN.,CHHATRAPATI SHAHU MAHARAJ TERMINUS,Friday
3,290,PALACE ON WH,DELHI-SAFDAR JANG,DELHI-SAFDAR JANG,Wednesday
4,401,BSB BHARATDA,AURANGABAD,VARANASI JN.,Saturday
5,421,LKO-SVDK FTR,LUCKNOW JN.,SHRI MATA VAISHNO DEVI KATRA,Tuesday
6,422,SVDK-LKO FTR,SHRI MATA VAISHNO DEVI KATRA,LUCKNOW JN.,Monday
7,477,FTR TRAIN NO,SIRSA,SIRSA,Sunday
8,502,RJPB-UMB FTR,RAJENDRANAGAR TERMINAL,AMBALA CANTT JN,Monday
9,504,PNBE-BTI FTR,PATNA JN.,BATHINDA JN,Wednesday

In [30]:
print("Dataset Info:")
df.info()

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11113 entries, 0 to 11112
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Train_No                  11113 non-null  int64
 1   Train_Name                11113 non-null  object
 2   Source_Station_Name       11113 non-null  object
 3   Destination_Station_Name  11113 non-null  object
 4   days                      11113 non-null  object
dtypes: int64(1), object(4)
memory usage: 434.2+ KB

In [31]:
print("Missing values in each column:")
df.isnull().sum()

Missing values in each column:

Train_No                    0
Train_Name                  0
Source_Station_Name         0
Destination_Station_Name    0
days                        0
dtype: int64

In [32]:
#Task 1.2: Basic Statistics
#Calculate basic statistics such as the number of trains, unique source stations, and unique destination stations.
#Find the most common source and destination stations.

In [33]:
# Total number of trains (assuming each row is a unique train entry)
num_trains = len(df)
print("Total number of trains:", num_trains)

Total number of trains: 11113

In [34]:
unique_sources = df['Source_Station_Name'].nunique()
unique_destinations = df['Destination_Station_Name'].nunique()

print("Number of unique source stations:", unique_sources)
print("Number of unique destination stations:", unique_destinations)

Number of unique source stations: 921
Number of unique destination stations: 924

In [35]:
# Most frequent source station
common_source = df['Source_Station_Name'].mode()[0]
print("Most common source station:", common_source)

# Most frequent destination station
common_destination = df['Destination_Station_Name'].mode()[0]
print("Most common destination station:", common_destination)

Most common source station: CST-MUMBAI
Most common destination station: CST-MUMBAI

In [36]:
#Task 1.3: Data Cleaning
#Identify and handle missing values in the dataset.
#Standardize the format of station names (e.g., make all names uppercase).

In [37]:
# Display total missing values per column
print("Missing values per column:")
df.isnull().sum()

Missing values per column:

Train_No                    0
Train_Name                  0
Source_Station_Name         0
Destination_Station_Name    0
days                        0
dtype: int64

In [38]:
#Here there is no any missing values

In [39]:
# Drop rows with any missing values
df_cleaned = df.dropna()

# Confirm no missing values remain
print("Missing values after dropping rows:")
df_cleaned.isnull().sum()

Missing values after dropping rows:

Train_No                    0
Train_Name                  0
Source_Station_Name         0
Destination_Station_Name    0
days                        0
dtype: int64

In [40]:
# Fill missing values with a placeholder like 'UNKNOWN' for categorical data
#df['column_name'] = df['column_name'].fillna('UNKNOWN')

In [41]:
# Replace with actual column names in your dataset if different
df_cleaned['Source_Station_Name'] = df_cleaned['Source_Station_Name'].str.strip().str.upper()
df_cleaned['Destination_Station_Name'] = df_cleaned['Destination_Station_Name'].str.strip().str.upper()

# Preview cleaned station names
df_cleaned[['Source_Station_Name', 'Destination_Station_Name']].head()

  Source_Station_Name            Destination_Station_Name
0     SAWANTWADI ROAD                         MADGOAN JN.
1         MADGOAN JN.                     SAWANTWADI ROAD
2         MADGOAN JN.  CHHATRAPATI SHAHU MAHARAJ TERMINUS
3   DELHI-SAFDAR JANG                   DELHI-SAFDAR JANG
4          AURANGABAD                        VARANASI JN.